		<div class="footer font-muli font-05em text-shadow-green">
			<div class="links float-left">
				<a href="">Terminos y Condiciones</a>
				<a href="">Aviso de Privacidad</a>
				<a href="/about/">Acerca de</a>
			</div>
			<div class="social float-right">
				<a href="https://www.facebook.com/comprateca"><img src="{{ MEDIA_URL }}img/facebook.png"/></a>
				<a href="https://twitter.com/comprateca"><img src="{{ MEDIA_URL }}img/twitter.png"/></a>
			</div>
			
			<div class="clear-fix">&nbsp;</div>
			
			<div>Comprateca &copy; Todos los derechos reservados.<br/><a href="mailto:hola@brainn.co">hola@brainn.co</a></div>
		</div>