{% extends "base.html" %}

{% block content %}

{% include "header.html" %}

<div class="content">
	<div class="catch-phrase" style="background-image: url('/media/img/marketplace2.jpg')">

		<h1>Escribe que quieres comprar y ponle el precio</h1>

		<div class="wrapper-transparent">

			<div class="alert">
				<p>Este anuncio se publicara automaticamente en tu muro de Facebook</p>
			</div>

			<form method="POST" action="" enctype="multipart/form-data">{% csrf_token %}

				<div>
					{{ form.title }}
					{{ form.title.errors }}</br>
				</div>

				<div>
					{{ form.price }}
					{{ form.price.errors }}</br>
				</div>

				<div>
					<input class="button-form button-green" type="submit" value="Publicar" style="padding:7px 20px; font-size:16px; position:relative;top:-36px">
				</div>
			</form>
		</div>
	</div>
</div>

{% include "post-button.html" %}

{% include "footer.html" %}

{% endblock %}