{% extends "base.html" %}

{% block content %}

{% include 'django_facebook/_facebook_js.html' %}

{% include "header.html" %}

<div class='content'>
	<div class='catch-phrase'>
		<h1>Escribe lo que quieras comprar y te aseguramos el mejor precio.</h1>


		{% if not user.is_authenticated %}
		<form action="{% url facebook_connect %}?facebook_login=1" method="post">
			<a href="javascript:void(0);" class="button-form button-green" onclick="F.connect(this.parentNode);">
				Empezar a Disfrutar
			</a>
			<input type="hidden" name="next" value="{{ next|escape }}" />
			{% csrf_token %} 
		</form>
		{% else %}
		<a class="button-form button-blue" href="/mvp/article">Publicar Compra</a>
		{% endif %}


	</div>
	<div class='area text-align-center size-2em'>
		<h2 class='size-2em'>Como Funciona</h2>

		<div>
			<div class='inline-block vertical-align-top width-30'>
				<p>1.Publica</p>
			</div>
			<div class='inline-block vertical-align-top list-item width-30'>
				<p>2.Recibe Ofertas</p>
			</div>
			<div class='inline-block vertical-align-top list-item width-30'>
				<p>3.Obten el mejor precio</p>
			</div>
		</div>

		<div>
			<div class='list-item width-30'>
				<img width="124" height="124" src="{{ MEDIA_URL }}img/step1.png">
			</div>

			<div class='list-item width-30'>
				<img src="{{ MEDIA_URL }}img/step2.png">
			</div>

			<div class='list-item width-30'>
				<img width="124" height="124" src="{{ MEDIA_URL }}img/step3.png">
			</div>
		</div>
	</div>
</div>

{% include "post-button.html" %}

{% include "footer.html" %}

{% endblock %}

