{% extends "base.html" %}

{% block content %}

{% include 'django_facebook/_facebook_js.html' %}

{% include "header.html" %}
<div class="content">
	<div class="catch-phrase" style="background-image: url('/media/img/library.jpg')">

	<div class="wrapper-transparent">
		<div class="list-item">
			<div class="list-item">
				<a href="http://www.facebook.com/profile.php?id={{ article.owner.facebookprofile.facebook_id }}">
					<p class="margin10 color-blue" style="font-size:0.3em">{{ article.owner.get_full_name }}</p>
					<img src="http://graph.facebook.com/{{ article.owner.facebookprofile.facebook_id }}/picture?width=60&height=150">
				</a>
			</div>
		</div>
		<div class="list-item" style="width:500px;position:relative;top:14px">
			<p class="size-05em">Estoy Comprando</p>

			<p class="color-green size-05em">{{ article.title|title}}</p>

			<p class="size-05em">a</p>

			<p class="color-green size-05em">$ {{ article.price }}</p>

			<p class="size-14 color-black" style="padding-top:25px">Publicado hace {{ article.date|timesince }}</p>
		</div>

		<div>
			<div class="list-item">
				<a href="https://twitter.com/share" class="twitter-share-button" data-url="http://www.comprateca.com/mvp/article/{{ article.pk }}" data-text="{{ article.get_twitter_message }}" data-via="comprateca" data-size="large">Tweet</a>
				<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
			</div>
		</div>
	</div>

	<div class="wrapper-white text-align-center">
		<h3 style="color:black;padding:0px;font-size:0.7em;margin-bottom:15px">Ofértame aquí</h3>
		<div class="fb-comments" data-href="http://www.comprateca.com/mvp/article/{{ article.pk }}" data-width="600" data-num-posts="10"></div>
	</div>
</div>

{% include "post-button.html" %}

{% include "footer.html" %}

{% endblock %}