@import url(http://fonts.googleapis.com/css?family=Sintony);
@import url(http://fonts.googleapis.com/css?family=Muli:300,400,300italic,400italic);


/* ******* START: CSS RESET ******* */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: none;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}

* {
	outline: none;
}

input, select, textarea {
	border: 1px solid gray;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

a {
	color: inherit;
	cursor: pointer;
	text-decoration: none;
}

h1, h2, h3, h4, h5 {
	padding: 0.5em 0px 1em 0px;
}

header noscript {
	display: none;
}

ul {
	list-style: none;
}
.alert{
	font-size: 16px;
	background: #00B0D7;
	padding: 10px;
	width: 50%;
	margin: 0 auto;
}
.area{
	background: #333 url("/media/img/wavegrid.png");
	font-family: 'Sintony', sans-serif;
	padding-bottom: 40px;
	
}
.button-form{
	text-decoration: none;
	box-shadow: 0px -0.5em 1em rgba(0, 0, 0, 0.25) inset;
	border-radius: 5px;
}
.button-blue{
	background: none repeat scroll 0% 0% rgb(59, 89, 152);
}
.button-green{
	background: none repeat scroll 0% 0% rgb(83, 183, 0);
}
.button-red{
	background: none repeat scroll 0% 0% rgb(226, 45, 0);
}
.catch-phrase {
	font-family: 'Sintony', sans-serif;
	background: #000;
	color: #FFF;
	font-size: 3em;
	padding: 2em 0em;
	
	text-align: center;
	background: url('/media/img/marketplace.JPG') 50% 0% fixed no-repeat;
	background-size: cover;
	
	box-shadow: inset 0px 0px 1em rgba(0, 0, 0, 0.25);
	text-shadow: 0px 0px 1px #000;
}
.color-green{
	color:#00CC00;
}
.color-blue{
	color:#1047A9;
}
.color-black{
	color: black;
}
.errorlist{
	font-size: 14px;
	color: red;
}
.inline-block{
	display: inline-block !important;
}
.input-form{
	border-radius: 5px;
	border: 0px;
	background: white;
}
.item-right{
	padding: 12px;
}
.item-right:hover{
	background: #9FEE00;
}
.footer{
	background: #2D9B27;
	border-top: 3px solid #00675C;
	color: white;
	padding: 1em;
}
.footer div.links a {
	padding-right: 0.5em;
	text-decoration: underline;
}

.font-sintony{
	font-family: 'Sintony', sans-serif;
}
.font-muli{
	font-family: "Muli", sans-serif;
}
.float-right{
	float: right;
}
.header{
	background: #0ACF00;
	height: 55px;
	border-bottom: 2px solid #FF6200;
}
.margin-left-20{
	margin-left: 20px;
}
.margin10{
	margin: 10px;
}
.list-item{
	display: inline-block;
	vertical-align: middle;
}
.padding10{
	padding: 10px;
}
.post-button{
	position: fixed;
	z-index: 9999;
	bottom: 20px;
	right: 50%;
}
.post-icon{
	width: 64px;
	height: 64px;
	margin: 0 auto;
	background: none repeat scroll 0% 0% rgb(83, 183, 0);
	border-radius: 64px;
	padding: 10px;
	border: 2px solid white;
}
.search-form{
	position: relative;
	left: 30px;
}
.search-input{
	width: 250px;
	padding: 7px;
	border-radius: 10px;
	border: 1px solid #00CC00;
	background: white url(/media/img/search.png) no-repeat scroll 0px 0px;
	background-size: 28px;
	padding-left:30px;
}
.size-14{
	font-size: 14px !important;
}
.size-05em{
	font-size: 0.5em !important;
}
.size-2em{
	font-size: 2em !important;
}
.size-3em{
	font-size: 3em !important;
}
.shadow1{
	box-shadow: inset 0px 0px 1em rgba(0, 0, 0, 0.25);
}
.social a {
	padding-left: 0.5em;
}

.social img {
	height: 2em;
}
.text-align-center{
	text-align: center;
}
.text-shadow-green{
	text-shadow: 0px 0px 4px #002905;
    filter: dropshadow(color=#002905, offx=0, offy=0);
}
.vertical-align-top{
	vertical-align: top !important;
}
.width-30{
	width: 30%;
}
.width-50{
	width: 50%;
}
.width-350{
	width: 350px;
}
.wrapper-transparent{
	background: rgba(200,200,200,.5);
	padding: 20px;
}
.wrapper-white{
	background: white;
	padding: 20px;
	margin: 20px auto;
	width: 60%;
	box-shadow: inset 0px 0px 1em rgba(0, 0, 0, 0.25);
	text-shadow: 0px 0px 1px #000;
}
.wrapper-white:hover{
	background: #E8E8E8;
}
.wrapper-color{
	box-shadow: inset 0px 0px 1em rgba(0, 0, 0, 0.25);
	text-shadow: 0px 0px 1px #000;
	border-radius: 20px;
}



